@import "../../variables.scss";

.hero {
  background-color: $purple;
  min-height: 670px;

  &__wrapper {
    width: 90%;
    padding-top: 156px;
    max-width: 1080px;
    margin: 0 auto;
    color: $white;
    font-family: $poppins;
  }

  &__title {
    font-size: 42px;
    width: 60%;
    position: relative;
    z-index: 2;
    line-height: 1.25;
  }

  &__subtitle {
    font-size: 24px;
    position: relative;
    z-index: 2;
    margin-bottom: 12px;
    h3 {
      font-weight: 500;
    }
  }

  .image__container {
    top: -350px;
    left: 50%;
    width: fit-content;
    position: relative;
    z-index: 1;

    .image {
      min-width: 320px;
      max-width: 470px;
      text-align: right;
      position: relative;
      left: 30px;
      top: 80px;
      z-index: 3;
    }

    ::before {
      content: "";
      display: block;
      height: 820px;
      top: -90px;
      left: 10px;
      width: 512px;
      background-color: $yellow;
      position: absolute;
      z-index: 2;
    }
  }
}

.section2 {
  position: relative;
  padding: 148px;
  z-index: 3;
  background-color: $white;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);

  &__wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-evenly;
    color: $light-purple;
    font-family: $poppins;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 12px;
  }

  &__subtitle {
    h3 {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .image {
    max-width: 328px;
  }
}

.section3 {
  background-color: $purple;

  .rectangle {
    width: 512px;
    position: relative;
    height: 36px;
    background-color: $yellow;
    border-radius: 0 0 50px 50px;
    left: 50%;
  }

  &__wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
  }

  &__header {
    padding-top: 75px;
    color: $white;
    text-align: center;
  }

  &__title {
    font-family: $poppins;
    font-size: 24px;
    margin-bottom: 12px;
  }

  &__subtitle {
    font-family: $roboto;
    font-size: 32px;
    font-weight: medium;
    width: 468px;
    margin: 0 auto;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 75px;

    .description {
      padding-left: 55px;
      font-family: $roboto;
      border-left: 1px solid $yellow;

      &__step {
        color: $white;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        margin-bottom: 20px;
      }

      &__number {
        background-color: $yellow;
        color: $light-purple;
        padding: 8px;
        font-weight: 600;
        border-radius: 4px 0 0 4px;
        display: flex;
        align-items: center;
        border: 1px solid $yellow;
      }

      &__text {
        border: 1px solid $yellow;
        border-radius: 0 4px 4px 0;
        display: flex;
        align-items: center;
        max-width: 300px;
        width: 100%;
        padding: 8px;
      }
    }
  }

  .image__container {
    padding-right: 55px;

    .image {
      width: 300px;
    }
  }
}

.section4 {
  background-color: $yellow;

  &__input {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  &__wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    padding: 160px;
  }

  h1 {
    font-family: $poppins;
    font-size: 24px;
    color: $black;
    margin-bottom: 8px;
  }

  p {
    font-family: $roboto;
    font-size: 32px;
    color: $light-purple;
    margin-bottom: 12px;
  }
}

@media (max-width: 1024px) {
  .hero {
    &__title {
      font-size: 32px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__input {
      width: 40%;
    }

    .image__container {
      top: -300px;
      left: 50%;
      width: 50%;
      position: relative;
      z-index: 1;

      .image {
        width: 80%;
        left: 40px;
      }

      ::before {
        content: "";
        display: block;
        height: 820px;
        top: -90px;
        left: 10px;
        width: 420px;
        background-color: $yellow;
        position: absolute;
        z-index: 2;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    &__input {
      width: 60%;
      position: relative;
      z-index: 3;
    }

    .image__container {
      top: -250px;
      left: 50%;
      width: 50%;
      position: relative;
      z-index: 1;

      .image {
        width: 80%;
        left: 0;
        top: 0;
      }

      ::before {
        content: "";
        height: 320px;
        width: 320px;
        top: 0;
        border-radius: 100%;
        position: absolute;
        z-index: 2;
      }
    }
  }

  .section3 {
    .rectangle {
      display: none;
    }

    &__description {
      .description {
        &__step {
          font-size: 12px;
        }
      }
    }

    .image__container {
      padding-right: 55px;

      .image {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 640px) {
  .hero {
    &__title {
      width: 80%;
    }

    &__subtitle {
      width: 80%;
    }
  }
  .section2 {
    padding: 148px 0;

    &__title {
      font-size: 24px;
      font-family: $poppins;
    }

    &__subtitle {
      font-size: 18px;
      font-family: $roboto;
    }

    .image {
      max-width: 100%;
      height: auto;
    }
  }

  .section4 {
    &__wrapper {
      padding: 80px;
    }
  }
}

@media (max-width: 428px) {
  .hero {
    &__input {
      width: 100%;
    }

    &__button {
      position: relative;
      z-index: 2;
    }

    .image__container {
      top: -10px;
      left: 20%;
      width: 50%;
      position: relative;
      z-index: 1;
    }
  }

  .section2 {
    &__wrapper {
      display: block;
    }

    &__title {
      font-size: 24px;
      font-family: $poppins;
    }

    &__subtitle {
      font-size: 18px;
      font-family: $roboto;
    }

    .image__container {
      margin-bottom: 8px;

      .image {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .section3 {
    .rectangle {
      display: none;
    }

    &__title,
    &__subtitle {
      width: auto;
    }

    &__title {
      font-size: 18px;
    }

    &__subtitle {
      font-size: 24px;
    }

    &__description {
      display: block;

      .description {
        border-top: 1px solid $yellow;
        border-left: none;
        padding-left: 0;
        padding-top: 55px;

        &__step {
          font-size: 12px;
          justify-content: center;
        }
      }
    }

    .image__container {
      padding-right: 0;
      padding-bottom: 55px;
      text-align: center;

      .image {
        margin: 0 auto;
      }
    }
  }

  .section4 {
    &__wrapper {
      padding: 48px 18px;
    }

    h1 {
      font-size: 18px;
    }

    p {
      font-size: 24px;
    }
  }
}
