@import "../../variables.scss";

.cart {
  background-color: $purple;
  padding: 156px 0;
  min-height: 100vh;

  &__wrapper {
    width: 90%;
    max-width: 1080px;
    font-family: $poppins;
    background-color: $white;
    margin: 0 auto;
    border-radius: 18px;
    padding: 32px 70px;
    margin-bottom: 25px;
  }

  &__header {
    padding-bottom: 16px;
    border-bottom: 1px solid $purple;
    margin-bottom: 20px;
  }

  .buy__header,
  .rent__header {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .buy__body {
    margin-bottom: 8px;
  }

  .buy__body,
  .rent__body {
    background-color: #f2f2f2;
    min-height: 80px;
  }

  .header__title {
    color: $light-purple;
    margin-bottom: 5px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 428px) {
}
