@import '../../variables.scss';

.footer{
    height: 120px;
    font-family: $roboto;
    background-color: $black;
    color: $white;

    &__wrapper{
        height: 100%;
        width: 80%;
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    
    &__title{
        font-size: 12px;
        font-family: $poppins;
    }
}

@media (max-width: 428px) {
    .footer{
        
        &__title{
            font-size: 10px;
            font-family: $poppins;
        }
    }

}