@import '../../variables.scss';

.input{
    margin-bottom: 8px;

    &__text{
        display: block;
        width: 100%;
        padding: 4px 8px;
        outline: none;
        border: none;
        border-radius: 4px;
        height: 36px;
        font-family: $roboto;

        &:focus{
            outline: 2px solid rgb(56, 156, 196);
        }
    }
}