@import "../../variables.scss";

.cart {
  background-color: $purple;
  padding: 156px 0;
  min-height: 100vh;

  &__wrapper {
    width: 90%;
    max-width: 1080px;
    font-family: $poppins;
    background-color: $white;
    margin: 0 auto;
    border-radius: 18px;
    padding: 32px 70px;
    margin-bottom: 25px;
  }

  &__price {
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__header {
    padding-bottom: 16px;
    border-bottom: 1px solid $purple;
    margin-bottom: 20px;
  }

  .buy__header,
  .rent__header {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .buy__body,
  .rent__body {
    margin-bottom: 8px;
    padding: 12px;
    display: grid;
    justify-items: center;
    margin-bottom: 12px;
    grid-template-columns: repeat(5, 1fr);
    gap: 26px;
    min-height: 200px;

    .photo__container {
      margin-bottom: 24px;
      position: relative;
      height: 190px;
      transition: 0.5s;

      &:hover {
        transform: scale(1.2);

        .description {
          opacity: 1;
        }
      }

      .photo {
        width: 120px;
        height: 190px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      .description {
        position: relative;
        opacity: 0;
        font-family: $poppins;
        font-weight: 600;
        height: 190px;
        text-align: center;
        color: $white;
        font-size: 12px;
        width: 120px;
        margin: 0 auto -190px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: -195px;
        backdrop-filter: blur(1px);
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0) 100%
          ),
          linear-gradient(
            180deg,
            rgba(217, 217, 217, 0) 0%,
            rgba(123, 116, 116, 0.3) 50%,
            rgba(217, 217, 217, 0) 100%
          );
        cursor: pointer;
        transition: 0.5s;

        .title {
          width: 100px;
          margin: 0 auto;
        }
      }
    }
  }

  .buy__body,
  .rent__body {
    background-color: #f2f2f2;
    min-height: 80px;

    .button__trash {
      margin: 0 auto;
      background-color: $red;
      color: $white;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      text-align: center;
      padding: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .header__title {
    color: $light-purple;
    margin-bottom: 5px;
  }

  .status__text {
    font-weight: 500;
    color: $red;
    margin-left: 12px;
    display: inline-block;
  }
}

@media (max-width: 1024px) {
  .cart {
    .buy__body,
    .rent__body {
      grid-template-columns: repeat(4, 1fr);
      gap: 12px;
    }
  }
}

@media (max-width: 768px) {
  .cart {
    .buy__body,
    .rent__body {
      grid-template-columns: repeat(3, 1fr);
      gap: 6px;
    }
  }
}

@media (max-width: 640px) {
  .cart {
    &__wrapper {
      padding: 32px;
    }

    .buy__body,
    .rent__body {
      grid-template-columns: repeat(2, 1fr);
      gap: 6px;
    }
  }
}

@media (max-width: 428px) {
  .cart {
    .buy__body,
    .rent__body {
      grid-template-columns: repeat(1, 1fr);
      gap: 6px;
    }
  }
}
